.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--alabaster); 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 2px var(--jet);
    width: 90%;
    height: 100%;
}

.logo {
  font-size: 22px;
  
}

.navbar {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.navbar.show {
  max-height: 550px; 
  transition: max-height 0.2s ease-in;
}

.navbar ul {
  list-style: none;
  padding: 2px;
}

.navbar ul li a {
  text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: var(--darkPurp);
  font-size: 20px;}
.navbar ul li a svg {
  margin-left: 5px;
}

.navbar ul li a:visited {
  color: var(--saffron);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--jet);
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.open div:first-child {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.hamburger-menu.open div:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open div:last-child {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

@media (min-width: 1000px) {
  .navbar {
    max-height: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-height: fit-content;
    width: 100%;

  }

  .navbar ul li a svg {
    margin-left: 5px;
    margin-top: 2px; 
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .navbar ul li {
    flex: 1;
    text-align: center;
    padding: .1% .5% .1%;
    flex-wrap: wrap;
  }

  .navbar ul li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5% .5% 0%;
  }

  .navbar ul h3 {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }
}